{% extends "layout/admin.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <h1>({{ cfa_location.number }}) {{ cfa_location.name }} - CFA Suite</h1>

    <form method="post" action="/form/cfa_location/delete/{{ cfa_location.id }}">
        <h2>Delete CFA Location</h2>
        <div>
            <label>location number</label>
            <input type="text" name="cfa_location_number" />
        </div>
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit">
    </form>

    <form action="/form/upload/employee_bio" method="POST" enctype="multipart/form-data">
        <h2>Upload Employee Bio</h2>
        <input type="file" name="file"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit"/>
    </form>

    <form action="/form/upload/time_punch" method="POST" enctype="multipart/form-data">
        <h2>Upload Time Punch</h2>
        <input type="file" name="file"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit"/>
    </form>

    <table>
        <thead>
            <th>Name</th>
            <th>Department</th>
            <th>Submit</th>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr class="employee-row">
                <td>
                    {{ employee.time_punch_name }}
                    {% if employee.department == 'INIT' %}
                        <span>*</span>
                    {% endif %}    
                <td>
                    <form method="post" action="/form/employee/update/department">
                        <select name="department">
                            <option>{{ employee.department }}</option>
                            {% if employee.department == 'FOH' %}
                            <option>BOH</option>
                            <option>CST</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% elif employee.department == 'BOH' %}
                            <option>FOH</option>
                            <option>CST</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% elif employee.department == 'CST' %}
                            <option>FOH</option>
                            <option>BOH</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% elif employee.department == 'RLT' %}
                            <option>FOH</option>
                            <option>BOH</option>
                            <option>CST</option>
                            <option>NONE</option>
                            {% else %}
                            <option>FOH</option>
                            <option>BOH</option>
                            <option>CST</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% endif %}
                        </select>
                        <input type="hidden" value="{{ cfa_location.id }}" name="location_id" />
                        <input type="hidden" value="{{ employee.id }}" name="employee_id" />
                        <input type="hidden" value="{{ session_key }}" name="session_key" />
                        <input type="submit" style="display:none;" class="real-submit" /> 
                    </form>
                </td>
                <td>
                    <input class="submit-proxy" type="submit" disabled /> 
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <script>
        let rows = document.querySelectorAll('.employee-row')
        for (let i = 0; i < rows.length; i++) {
            let row = rows[i]
            let form = row.querySelector('form')
            let submitProxy = row.querySelector('.submit-proxy')
            let realSubmit = row.querySelector('.real-submit')
            form.addEventListener('change', () => {
                submitProxy.removeAttribute('disabled')
            })
            submitProxy.addEventListener('click', () => {
                realSubmit.click()
            })
        }
    </script>

{% endblock %}
