{% extends "layout/admin.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <h1>({{ cfa_location.number }}) {{ cfa_location.name }} - CFA Suite</h1>

    <form method="post" action="/form/cfa_location/delete/{{ cfa_location.id }}">
        <h2>Delete CFA Location</h2>
        <div>
            <label>location number</label>
            <input type="text" name="cfa_location_number" />
        </div>
        <input type="submit">
    </form>

    <form action="/form/upload/employee_bio" method="POST" enctype="multipart/form-data">
        <h2>Upload Employee Bio</h2>
        <input type="file" name="file"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="submit"/>
    </form>

    <form action="/form/upload/time_punch" method="POST" enctype="multipart/form-data">
        <h2>Upload Time Punch</h2>
        <input type="file" name="file"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="submit"/>
    </form>

    {% for emp in employees %}
        <li>
            <span>[{{ emp.department }}] - </span>
            <a href="/admin/cfa_location/{{ cfa_location.id }}/employee/{{ emp.id }}">
                {{ emp.time_punch_name }}
            </a>
        </li>
    {% endfor %}

{% endblock %}
