{% extends "layout_admin.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <h1>Locations - CFA Suite</h1>
    <form method="post" action="/form/cfa_location/create">
        <h2>Create Locations</h2>
        <p>{{ err_create_location }}</p>
        <div>
            <label>name</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label>number</label>
            <input type="text" name="number" />
        </div>
        <input type="submit"/>
    </form>

    <ul>
        {% for cfa_location in cfa_locations %}
            <li>
                <a href="/admin/cfa_location/{{ cfa_location.id }}">{{ cfa_location.name }} - {{ cfa_location.number }}</a>
            </li>
                
        {% endfor %}
    </ul>



{% endblock %}
