{% extends "layout/admin.html" %}
{% block title %}Employees{% endblock %}
{% block content %}
    <h1>{{ employee.time_punch_name }} - CFA Suite</h1>
    <form method="post" action="/form/employee/update/department">
        <h2>Update Employee</h2>
        <div>
            <label>Department</label>
            <select name="department">
                <option>{{ employee.department }}</option>
                {% if employee.department == 'FOH' %}
                <option>BOH</option>
                <option>CST</option>
                <option>RLT</option>
                <option>NONE</option>
                {% elif employee.department == 'BOH' %}
                <option>FOH</option>
                <option>CST</option>
                <option>RLT</option>
                <option>NONE</option>
                {% elif employee.department == 'CST' %}
                <option>FOH</option>
                <option>BOH</option>
                <option>RLT</option>
                <option>NONE</option>
                {% elif employee.department == 'RLT' %}
                <option>FOH</option>
                <option>BOH</option>
                <option>CST</option>
                <option>NONE</option>
                {% else %}
                <option>FOH</option>
                <option>BOH</option>
                <option>CST</option>
                <option>RLT</option>
                <option>NONE</option>
                {% endif %}
            </select>
        </div>
        <input type="hidden" value="{{ cfa_location_id }}" name="location_id" />
        <input type="hidden" value="{{ employee.id }}" name="employee_id" />
        <input type="submit" />
    </form>


{% endblock %}
