{% extends "layout/admin.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
    <h1>({{ cfa_location.number }}) {{ cfa_location.name }} - CFA Suite</h1>

    <form method="post" action="/form/cfa_location/delete/{{ cfa_location.id }}">
        <h2>Delete CFA Location</h2>
        <div>
            <label>location number</label>
            <input type="text" name="cfa_location_number" />
        </div>
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit">
    </form>

    <form action="/form/upload/time_punch" method="POST" enctype="multipart/form-data">
        <h2>Upload Time Punch</h2>
        <input type="file" name="file"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit"/>
    </form>

    <form action="/form/upload/hotschedules_staff_html" method="POST">
        <h2>Upload HotSchedules Staffing</h2>
        <input type="textarea" name="html"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit"/>
    </form>

    {% if time_punch_data %}
        <h3>Total Breakdown</h3>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Hours</th>
                    <th>Wages</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regular</td>
                    <td>{{ time_punch_data['regular_hours'] }}</td>
                    <td>{{ time_punch_data['regular_wages'] }}</td>
                </tr>
                <tr>
                    <td>Overtime</td>
                    <td>{{ time_punch_data['overtime_hours'] }}</td>
                    <td>{{ time_punch_data['overtime_wages'] }}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{ time_punch_data['total_hours'] }}</td>
                    <td>{{ time_punch_data['total_wages'] }}</td>
                </tr>
            </tbody>
        </table>

        <h3>Department Breakdown</h3>
        <table>
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Percentage</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FOH</td>
                    <td>{{ time_punch_data['foh_percentage'] }}</td>
                    <td>{{ time_punch_data['foh_cost'] }}</td>
                </tr>
                <tr>
                    <td>BOH</td>
                    <td>{{ time_punch_data['boh_percentage'] }}</td>
                    <td>{{ time_punch_data['boh_cost'] }}</td>
                </tr>
                <tr>
                    <td>RLT</td>
                    <td>{{ time_punch_data['rlt_percentage'] }}</td>
                    <td>{{ time_punch_data['rlt_cost'] }}</td>
                </tr>
                <tr>
                    <td>CST</td>
                    <td>{{ time_punch_data['cst_percentage'] }}</td>
                    <td>{{ time_punch_data['cst_cost'] }}</td>
                </tr>
                <tr>
                    <td>TERM</td>
                    <td>{{ time_punch_data['term_percentage'] }}</td>
                    <td>{{ time_punch_data['term_cost'] }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}

    <form action="/form/upload/employee_birthday_report " method="POST" enctype="multipart/form-data">
        <h2>Upload Employee Birthday Report</h2>
        <input type="file" name="file"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit"/>
    </form>

    <form action="/form/upload/employee_bio" method="POST" enctype="multipart/form-data">
        <h2>Upload Employee Bio</h2>
        <input type="file" name="file"/>
        <input type="hidden" value="{{ cfa_location.id }}" name="cfa_location_id" />
        <input type="hidden" value="{{ session_key }}" name="session_key" />
        <input type="submit"/>
    </form>

    <table>
        <thead>
            <th>Name</th>
            <th>Time Punch Name</th>
            <th>Birthday</th>
            <th>Department</th>
            <th>Submit</th>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr class="employee-row">
                <td>
                    {{ employee.name }}
                </td>
                <td>
                    {{ employee.time_punch_name }}
                    {% if employee.department == 'INIT' %}
                        <span>*</span>
                    {% endif %}    
                </td>
                <td>
                    {{ employee.birthday }}
                </td>
                <td>
                    <form method="post" action="/form/employee/update/department">
                        <select name="department">
                            <option>{{ employee.department }}</option>
                            {% if employee.department == 'FOH' %}
                            <option>BOH</option>
                            <option>CST</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% elif employee.department == 'BOH' %}
                            <option>FOH</option>
                            <option>CST</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% elif employee.department == 'CST' %}
                            <option>FOH</option>
                            <option>BOH</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% elif employee.department == 'RLT' %}
                            <option>FOH</option>
                            <option>BOH</option>
                            <option>CST</option>
                            <option>NONE</option>
                            {% else %}
                            <option>FOH</option>
                            <option>BOH</option>
                            <option>CST</option>
                            <option>RLT</option>
                            <option>NONE</option>
                            {% endif %}
                        </select>
                        <input type="hidden" value="{{ cfa_location.id }}" name="location_id" />
                        <input type="hidden" value="{{ employee.id }}" name="employee_id" />
                        <input type="hidden" value="{{ session_key }}" name="session_key" />
                        <input type="submit" style="display:none;" class="real-submit" /> 
                    </form>
                </td>
                <td>
                    <input class="submit-proxy" type="submit" disabled /> 
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <script>
        let rows = document.querySelectorAll('.employee-row')
        for (let i = 0; i < rows.length; i++) {
            let row = rows[i]
            let form = row.querySelector('form')
            let submitProxy = row.querySelector('.submit-proxy')
            let realSubmit = row.querySelector('.real-submit')
            form.addEventListener('change', () => {
                submitProxy.removeAttribute('disabled')
            })
            submitProxy.addEventListener('click', () => {
                realSubmit.click()
            })
        }
    </script>

{% endblock %}