<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>CFA Suite - Login</title>
</head>
<body class="h-screen flex flex-col">
    
    <header>
        <div class="border border-gray-200 p-4">
            <img width="200" src="/static/img/logo.svg" />
        </div>
    </header>

    <main class="flex-1 p-4">

        <div>
            <form class="flex flex-col gap-8">
                <h1 class="font-bold text-2xl">Login</h1>
                <div class="flex flex-col gap-1">
                    <label>username</label>
                    <input class="border rounded p-1" type="text" />
                </div>
                <div class="flex flex-col gap-1">
                    <label>password</label>
                    <input class="border rounded p-1" type="password" />
                </div>
                <input class="bg-red-500 rounded text-lg p-1 text-white" type="submit" value="Login"/>
            </form>
        </div>

    </main>

</body>
</html>