<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>Login - CFA Suite</title>
</head>
<body class="h-screen flex flex-col">
    
    <header class="border-b border-gray-200 p-4">
            <img width="200" src="/static/img/logo.svg" />
    </header>

    <main class="flex-1 flex flex-col items-center p-4 sm:p-16 lg:p-32">

        <form id="login-form" action="/form/login" method="POST"  class="flex flex-col gap-8 w-full max-w-sm">
            <h1 class="font-bold text-3xl">Login</h1>
            {{ if .HasLoginErr }}
                <p class="text-red-500 text-sm">{{ .LoginErr }}</p>
            {{ end }}
            <div class="flex flex-col gap-1">
                <label>username</label>
                <input name="username" class="border rounded p-1 text-sm" type="text" />
            </div>
            <div class="flex flex-col gap-1">
                <label>password</label>
                <input name="password" class="border rounded p-1 text-sm" type="password" />
            </div>
            <input id="login-submit" class="bg-red-500 rounded p-1 text-white" type="submit" value="Login"/>
            <div id="login-spinner" class=" h-12 w-12 hidden border-3 border-gray-200 border-t-red-500 animate-spin rounded-full hidden"></div>
        </form>

        <script>
            let loginForm = document.querySelector('#login-form')
            let loginSubmit = document.querySelector('#login-submit')
            let loginSpinner = document.querySelector('#login-spinner')
            loginForm.addEventListener('submit', () => {
                loginSubmit.classList.add('hidden')
                loginSpinner.classList.remove('hidden')
            })
        </script>

    </main>

</body>
</html>