<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>Portal - CFA Suite</title>
</head>
<body class="h-screen flex flex-col text-black">

    <header class="border-b border-gray-200 p-4 flex flex-row justify-between">
        <div>
            <img width="200" src="/static/img/logo.svg" />
        </div>
        <div>
            <svg class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
            </svg>
        </div>
    </header>


</body>
</html>