<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <title>Portal - CFA Suite</title>
</head>
<body class="h-screen flex flex-col text-black">

    <header class="border-b border-gray-200 p-4 flex flex-row justify-between fixed top-0 h-[85px] w-full">
        <div>
            <img class="w-[200px] min-w-[200px]" width="200" src="/static/img/logo.svg" />
        </div>
        <div>
            <svg id="bars" class="w-12 h-12 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
            </svg>
        </div>
    </header>

    <nav class="fixed top-[85px] w-full flex flex-col hidden h-full bg-white">
        <ul class="flex flex-col p-4 gap-4">
            <li class="flex">
                <a href='/portal' class="p-4 border rounded w-full border-gray-200">Home</a>
            </li>
            <li class="flex">
                <a href='/logout' class="p-4 border rounded w-full border-gray-200">Logout</a>
            </li>
        </ul>
    </nav>

    <script>

        // consts or general vars
        let path = window.location.pathname

        // page elements
        let bars = document.querySelector('#bars')
        let nav = document.querySelector("nav")
        let navLinks = nav.querySelectorAll('a')

        // coloring active navigation
        for (let i = 0; i < navLinks.length; i++) {
            let link = navLinks[i]
            let href = link.getAttribute('href')
            if (href == path) {
                link.classList.add('bg-gray-200')
            }
        }

        // nav toggling
        bars.addEventListener('click', () => {
            nav.classList.toggle('hidden')
        })




    </script>

</body>
</html>