<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CFA Suite</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/admin">Admin Home</a>
            </li>
            <li>
                <a href="/admin/cfa_locations">Locations</a>
            </li>
            <li>
                <a href="/">Logout</a>
            </li>
        </ul>
    </nav>
    <main>{% block content %}{% endblock %}</main>
</body>
</html>